body {
  background-color: #70ff8863; 
  background-image: url(nice\ background.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(52, 255, 52, 0.466) !important;
}

.navbar {
  background-color: #00000050; 
}

.navbar-brand {
  display: flex; 
  align-items: center; 
  padding: 0; 
}

.navbar-brand img {
  height: 40px; 
  width: auto; 
  margin-right: 10px; 
}

.nav-link {
  color: #ffffff !important;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ffc107 !important; 
}

.form-control {
  border-radius: 20px;
}

.btn-outline-success {
  border-radius: 20px; 
  color: #ffffff; 
}

.btn-outline-success:hover {
  background-color: #007bff; 
  color: #000000; 
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgb(32 141 32 / 47%) !important;
  border-radius: 20px;
}

.btn-outline-success {
  --bs-btn-color: #6affba;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #198754;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #198754;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #198754;
  --bs-gradient: none;
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
